<<<<<<< HEAD
version: "3.9"
services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      - db

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"

  db:
    image: postgres:15
    container_name: db
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
    ports:
      - "5432:5432"
=======
services:
  db:
    image: postgres:15
    container_name: tesc_db_container
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: tesc_db
      POSTGRES_USER: tesc_user
      POSTGRES_PASSWORD: tesc@1234

  backend:
    build: ./backend
    image: tinotenda762/backend:latest
    ports:
      - "8000:8000"
    environment:
      DB_HOST: db
      DB_NAME: tesc_db
      DB_USER: tesc_user
      DB_PASSWORD: tesc@1234
    depends_on:
      - db

  frontend-one:
    build: ./frontend
    image: tinotenda762/frontend:latest
    ports:
      - "3000:80"  # Mapping VM port 3000 to Nginx port 80
    depends_on:
      - backend

  frontend-two:
    build: ./inst
    image: tinotenda762/inst:latest
    ports:
      - "3001:80"  # Mapping VM port 3001 to Nginx port 80
    depends_on:
      - backend

volumes:
  postgres_data:
>>>>>>> origin/main
